/*@import url(fonts.css);*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic,cyrillic-ext');

html {
    height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

body {   
    font-weight: 300;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #3b3d40;
    min-width: 1038px;
}

.main-content
{
    margin-top: 95px;
    margin-bottom: 50px;
}

.wrapper {
    /*width: 1000px;*/
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    padding: 0 0 100px;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 95px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    z-index: 100;
    position: fixed;
    width: 100%;
    /*max-width: 1204px;*/
    margin: 0 auto;
    left: 0;
    top: 0;
    z-index: 1000;
}

.header.scrolled
{
    background-color: #fff!important;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    /*width: 1000px;*/
    margin: -85px auto 0;
    height: 85px;
    background: #3b3d40;
    color: #fff;
    position: relative;
    padding-top: 5px;
    font-size: 14px;
}

.footer .shadow
{
    color: #89898b;
}

.footer a, .footer a:hover
{    
    color: #fff;
}

.footer .social-icons
{
    margin-top: 10px;
}

.footer .contact-info img
{
    margin-right: 10px;
}

.footer .contact-info
{
    margin-top: 15px;
}

.footer .contact-info a
{
    text-transform: none;
    text-decoration: underline;
    font-size: 16px;
}

.footer .contact-info div + div
{
    margin-top: 10px;
}

.footer .social-icons a:hover
{
    text-decoration: none;
}

.footer .social-icons a + a
{
    margin-left: 25px;
}

.container-fluid
{
    width: 998px!important;
    padding-left: 20px;
    padding-right: 20px;
}

.b-radius-10
{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.font-thin
{
    font-weight: 100;
}

.font-light
{
    font-weight: 300;
}

.font-regular
{
    font-weight: 400;
}

.font-medium
{
    font-weight: 500;
}

.font-bold
{
    font-weight: 700;
}

.font-black
{
    font-weight: 900;
}

.header .nav
{
    /*margin-top: 37px;*/
}

a {
    color: #3b3d40;
    text-decoration: none;
    text-transform: uppercase;
}

a.no-tdu:hover
{
    text-decoration: none;
}

a.btn.btn-success.styled
{
    font-size: 12px;
    background-color: #72b30d;
    border-color: #72b30d;
    padding: 15px 40px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

a.btn.btn-success.styled:hover,
a.btn.btn-success.styled:active,
a.btn.btn-success.styled:link
{
    background-color: #72b30d;
}

a.btn.btn-success.styled:hover
{
    -webkit-box-shadow: 0px 10px 20px 0px rgba(114,179,13,0.3);
    -moz-box-shadow: 0px 10px 20px 0px rgba(114,179,13,0.3);
    box-shadow: 0px 10px 20px 0px rgba(114,179,13,0.3);
}


h1
{
    font-weight: 700;
    font-size: 48px;
}

.header .navbar-brand
{
    margin: 35px 0;
    /*margin-top: 40px;*/
    padding-top: 0px;
    padding-left: 0px;
    display: block;
    width: 119px;
    height: 25px;
    background: url(../img/logo.png);
}

.header.black .navbar-brand
{
    background: url(../img/logo-black.png);
}

.header .nav-pills>li.active>a, .header .nav-pills>li.active>a:hover,.header .nav-pills>li.active>a:focus,
.header .nav>li>a:hover, .header .nav>li>a:focus
{
    color: #72b30d;
    background: transparent;
    /*border-bottom: 3px solid #72b30d;*/
}

.header .nav>li>a
{
    padding: 38px 5px;
}

.header .nav-pills > li.active, .header .nav-pills>li.active, .header .nav>li:hover, .header .nav>li:hover
{
    border-bottom: 3px solid #72b30d;
}

.header .nav-pills > li.active.no-border, .header .nav-pills>li.active.no-border, .header .nav>li.no-border:hover, .header .nav>li.no-border:hover
{
    border-bottom: none;
}

.header .nav-pills>li.active.no-border>a, .header .nav-pills>li.active.no-border>a:hover,.header .nav-pills>li.active.no-border>a:focus,
.header .nav>li.no-border>a:hover, .header .nav>li.no-border>a:focus
{
    color: #fff;
}

.header.black {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    background-color: #fff;
}
.header.black a
{
    color: #3b3d40;
}

.header.black a.btn.btn-success.styled, .header.black a.btn.btn-success.styled:hover
{
    color: #fff;
}

.header a
{
    font-size: 12px;
    color: #fff;   
}

.v-al-middle
{
    position: relative;
}

.v-al-middle > .outer-holder
{
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.v-al-middle > .outer-holder > .middle
{
    display: table-cell;
    vertical-align: middle;
}

.v-al-middle > .outer-holder > .middle > .inner
{
    margin-left: auto;
    margin-right: auto;
}

.promo h1
{
    text-align: center;
}

.promo-features .item
{
    text-align: center;
    /*cursor: pointer;*/
}

.promo-features .item > .icon
{
    text-align: center;
    height: 160px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.promo-features .item.search > .icon
{
    width: 109px;
}

.promo-features .item.write > .icon
{
    width: 104px;
}

.promo-features .item.az > .icon
{
    width: 111px;
}

.promo-features .item.phone > .icon
{
    width: 88px;
}

.promo-features .item.desctop > .icon
{
    width: 135px;
}

.promo-features .item.social > .icon
{
    width: 91px;
}

.promo-features .item > .icon .color
{
    display: none;
}

/*.promo-features .item.hover > .icon .color,*/
.promo-features .item:hover > .icon .color
{
    display: block;
    margin: 0 auto;
}

/*.promo-features .item.hover > .icon .main,*/
.promo-features .item:hover > .icon .main
{
    display: none;
}

.promo-features .item>.header-text
{
    font-weight: 700;
    font-size: 30px;
    margin: 30px 0 45px;
}

.promo-features .item>.body-text
{
    /*font-weight: 300;*/
    text-align: justify;
    font-size: 18px;
    margin: 0 10px 10px;
    height: 180px;
    overflow-y: hidden;
}

.promo-features .item> .action
{
    margin-top: 10px;
}

.promo-features-links .item
{
    margin-top: 30px;
    text-align: center;
}

.main-promoFirst
{
    background-image: url(../img/promo-1-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    /*font: 300 38px Roboto;*/
    text-align: center;
    height: 500px;
    background-position: center;
    margin-top: -95px;
    /*position: relative;*/
    font-size: 18px;
}

.main-promoFirst h1
{
    font-size: 52px;
    margin-bottom: 35px;
    margin-top: 35px;
}

.main-promoFirst .text
{
    line-height: 35px;
}

.main-promoWeTest
{
    background-color: #f2f7ff;
}

.main-promoCompetence h1, .main-promoWeTest h1
{
    margin-top: 5px;
    margin-bottom: 80px;
}

.main-promoCompetence, .main-promoWeTest
{
    padding: 60px 0;
}

.gallery-holder
{
    text-align: center;
    font-size: 20px;

}

.gallery-holder .header-text
{
    text-align: center;
    margin-bottom: 50px;
}


.main-promoOurProjects .action-row
{
    margin: 15px 0 40px;
}

.main-promoOurProjects .swiper-button-prev, .main-promoOurProjects  .swiper-container-rtl .swiper-button-next
{
    background-image: url(../img/arr-left.png);
}

.main-promoOurProjects  .swiper-button-next, .main-promoOurProjects  .swiper-container-rtl .swiper-button-prev
{
    background-image: url(../img/arr-right.png);
}

.main-promoOurProjects .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-promoOurProjects .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 80%;
    height: 345px;
}

.main-promoOurProjects .projects-desc .item
{
    display: none;
}

.main-promoOurProjects .projects-desc .item.active
{
    display: block;
}

.info-sliders.swiper-container
{
    width: 100%;
    height: 450px;
    margin: 70px 0;
}

.info-sliders.swiper-container .swiper-slide
{
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    /*    display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;*/
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.info-sliders h1
{
    text-align: left;
    margin-bottom: 60px;
}

.swiper-pagination-bullet
{
    width: 16px;
    height: 16px;
    background: transparent;
    border: 1px solid rgba(0,0,0, 0.6);
}

.swiper-pagination-bullet-active
{
    background: #72b30d;
    border: none;
}

.swiper-pagination.wheel-enabled:after
{
    display: block;
    width: 34px;
    height: 43px;
    background: url(../img/icon-mouse-wheel.png) no-repeat;
    content: '';
    position: absolute;
    left: -8px;
    bottom: -60px;
}

ul
{
    text-align: left;
}

ul.styled 
{
    font-size: 18px;
    padding-left: 100px;
    width: 80%;
}

ul.styled li
{
    list-style-type: none;
    position: relative
}

ul.styled li:before
{
    display: inline-block;
    width: 20px;
    height: 10px;
    background: #72b30d;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    content: "";
    left: -50px;
    top: 8px;
    position: absolute;
}

ul.styled li + li
{
    margin-top: 25px;
}


#services-page
{
    font-size: 16px;
    /*margin-top: 40px;*/
}

#services-page div.item
{
    margin-top: 70px;
}


#services-page div.text
{
    text-align: left;
}

#services-page h1
{
    margin-bottom: 40px;
    font-size: 38px;
    margin-top: 0px;
}

#services-page .image img
{
    max-width: 100%;
}

.hor-slider-page .row.actions
{
    /*    margin-left: 40px;
        margin-right: 40px;*/
    margin: 40px;
}

.hor-slider-page .actions [class*="button"]
{
    cursor: pointer;
    font-size: 26px;
    font-weight: 700;
    position: relative;
}

.hor-slider-page .actions [class*="button"]:hover
{
    color: #72b30d;
    text-decoration: underline;

}

.hor-slider-page  .actions .swiper-button-disabled
{
    display: none;
}

.hor-slider-page  .actions .button-prev:before,
.hor-slider-page  .actions .button-next:after
{
    content: "";
    width: 26px;
    height: 26px;
    display: inline-block;
    position: absolute;        
}

.hor-slider-page .actions .button-prev:before
{

    background: url(../img/icon-arrow-left.png);
    background-size: contain;
    top: 5px;
    left: -35px;

}

.hor-slider-page .actions .button-prev:hover:before
{
    background: url(../img/icon-arrow-left-active.png);
    background-size: contain;
}

.hor-slider-page .actions .button-next:after
{
    background: url(../img/icon-arrow-right.png);
    background-size: contain;
    top: 5px;
    right: -35px;
}


.hor-slider-page .actions .button-next:hover:after
{
    background: url(../img/icon-arrow-right-active.png);
    background-size: contain;
}

#services-sliders .projects-list .title
{
    text-align: right;
    font-size: 16px;
}

#services-sliders .projects-list .value
{
    font-weight: 400;
    text-align: left;
    font-size: 18px;
}

#services-sliders .projects-list .row + .row
{
    margin-top: 30px;
}

#services-sliders .swiper-container-v
{
    height: 460px;
    overflow: hidden;
}

#services-sliders .swiper-container-v img
{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#services-sliders .swiper-container-v .swiper-slide-prev,
#services-sliders .swiper-container-v .swiper-slide-next
{
    opacity: 0.7;
}

.swiper-vertical .swiper-button-next, .swiper-vertical .swiper-button-prev {
    position: absolute;
    left: 50%;
    margin-left: -22px;
    width: 44px;
    height: 27px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 44px 27px ;
    -webkit-background-size: 44px 27px ;
    background-size: 44px 27px ;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-vertical .swiper-button-next {
    background-image: url(../img/icon-arrow-down.png);
    top: auto;
    bottom: 90px;
    /*left: auto;*/
}


.swiper-vertical .swiper-button-prev {
    background-image: url(../img/icon-arrow-up.png);
    top: 40px;
    bottom: auto;
    /*right: auto;*/
}

.modal .modal-body
{
    font-size: 16px;    
    color: #000;
}

.modal .send-request
{
    margin-top: 120px;
}

.modal-title
{
    font-weight: 700;
}


.modal .close
{
    opacity: 1;
    outline: none;
    font-size: 42px;
    font-weight: 300;    
}

.modal-header
{
    border-bottom: none;
}


.modal .form-control
{
    min-height: 41px;    
}

.modal .form-control:focus {
    border-color: #72b30d;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#projects-page h1
{
    font-size: 38px;
    margin-top: 0px;
    margin-bottom: 40px;
}

#projects-page #services-sliders
{
    margin-top: 80px;
}